& section.books{
  margin-inline: auto;
  max-width: 87.5rem;
  height: auto;
  text-align: center;

  & .books-tittle{
    margin-top: 14.6875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
  }

 & h2{
  font: var(--fw-bold) var(--fs-32) var(--ff-raleway) ;
  color: var(--text-tittle);
  line-height: auto;
 }

 & p{
  font: var(--fw-base) var(--fs-16) var(--ff-raleway);
  color: var(--text-body);
  text-align: center;
 }

 & .book-kit{
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 8rem;
   & img{
    width: 29.1875rem;
    height: 38.5625rem;
    }
 }
}

@media (width <= 26.875rem){
  & section.books{
    max-width: 23.4375rem;

    & h2{
      font: var(--fw-bold) var(--fs-24) var(--ff-raleway);
      color: var(--text-tittle);
      line-height: auto;
     }

     & p{
      font: var(--fw-base) var(--fs-14) var(--ff-raleway);
      color: var(--text-body);
      text-align: center;
      margin-bottom: 4rem;
     }

     & .books-tittle{
      margin-top: 5.0625rem;
      img{
        width: 3rem;
        height: 3rem;
      }
     }

    & .book-kit{  
      max-width: 23.4375rem;
      max-height: 19.9375rem;  
      margin-top: 3.125rem;

       & img{
        width: 9.8244rem;
        height: 12.98rem;
        }
     }
  }
}