& .container{
  --max-width: 70rem;
  width: min(var(--max-width), 100% - 2.5rem * 2);
  margin-inline: auto;
}

& header{
  & nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

  & a{
    color: var(--text-tittle);
  }
  }

  & .tittle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10.25rem;
  
    & div {
      width: 41rem;
      height: 12.5rem;
    }
    
   & h1{
    font: var(--fw-bold) var(--fs-48) var(--ff-raleway);
    color: var(--text-tittle);
    text-align: center;
    }
  
    & p{
      margin-top: 2rem;
      font: var(--fw-base) var(--fs-20) var(--ff-raleway);
      color: var(--text-body);
      text-align: center;
    }
  }
}

& .week{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  width: 100%;
  max-width: 75rem;
  height: 25rem;
  overflow: hidden;
  margin-top: 6rem;
  /* border: solid 2px yellow; */

  & .content{
    /* border: 2px solid green; */
    width: 100%;
    position: relative;
  }

  & p{
    text-align: center;
    font: var(--fw-md) var(--fs-32) var(--ff-raleway);
    color: var(--text-tittle);
    
   & strong{
    color: var(--blue-light);
    }

    } 

    & img{
      width: 100%;
      position: absolute;

      &[src*="spellbook"]{
      width: 5.5rem;
      height: 5.5rem;
      bottom: 10rem;
      left: 33.5rem;

      transform: rotate(20deg);
      transition: transform 400ms;

      &:hover{
        transform: rotate(30deg);
        scale: 1.1;
      }
    }
      
      &[src*="ouija"]{
        width: 5rem;
        height: 5rem;
        left: 3rem;

        transform: rotate(90deg);
        transition: scale 400ms;

        &:hover{
          transform: rotate(110deg);
          scale: 1.1;
        }
      }
      
      &[src*="ball"]{
        width: 4.5rem;
        height: 4.5rem;
        right: .5rem;

        transform: rotate(-15deg);
        transition: scale 400ms;

        &:hover{
          transform: rotate(-5deg);
          scale: 1.1;
        }
      }

  }
}

@media (width <= 35rem){
  & header{
    & .tittle{
      margin-top: 3rem;
      
      & div{
        width: 20.9375rem;
        height: 6.1875rem;
      }

      & h1{
        font: var(--fw-bold) var(--fs-28) var(--ff-raleway);
      }

      & p{
        margin-top: 1rem;
        font: var(--fw-base) var(--fs-14) var(--ff-raleway);
      }
    }
  }
}