& .container{
  --max-width: 70rem;
  width: min(var(--max-width), 100% - 2.5rem * 2);
  margin-inline: auto;
}

& header{
  & nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

  & a{
    color: var(--text-tittle);
  }
  }

  & .tittle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10.25rem;
  
    & div {
      width: 41rem;
      height: 12.5rem;
    }
    
   & h1{
    font: var(--fw-bold) var(--fs-48) var(--ff-raleway);
    color: var(--text-tittle);
    text-align: center;
    }
  
    & p{
      margin-top: 2rem;
      font: var(--fw-base) var(--fs-20) var(--ff-raleway);
      color: var(--text-body);
      text-align: center;
    }
  }
}

& .week{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 5rem;

  align-items: center;
  margin-inline: auto;

  width: 100%;
  max-width: 1440px;
  height: 25rem;
  overflow: hidden;
  /* margin-top: 6rem; */
  /* border: solid 2px yellow; */
  position: relative;
  
  & .content{
    display: flex;
    align-items: center;
    justify-items: center;
    /* border: 2px solid green; */
    
    width: 75rem;
    height: 25rem;
  }

  & p{
    text-align: center;
    font: var(--fw-md) var(--fs-32) var(--ff-raleway);
    color: var(--text-tittle);
    
   & strong{
    color: var(--blue-light);
    }

    } 

    & img{
      width: 100%;
      position: absolute;

      &[src*="spellbook"]{
      width: 5.5rem;
      height: 5.5rem;
      top: 2rem;
      right: 47.8%;

      transform: rotate(20deg);
      transition: transform 400ms;

      &:hover{
        transform: rotate(30deg);
        scale: 1.1;
      }
    }
      
      &[src*="ouija"]{
        width: 5rem;
        height: 5rem;
        left: 5rem;
        top: 17rem;

        transform: rotate(100deg);
        transition: transform 400ms;

        &:hover{
          transform: rotate(110deg);
          scale: 1.1;
        }
      }
      
      &[src*="ball"]{
        width: 4.5rem;
        height: 4.5rem;
        right: 3rem;
        bottom: 3rem; 

        transform: rotate(-15deg);
        transition: transform 400ms;

        &:hover{
          transform: rotate(-5deg);
          scale: 1.1;
        }
      }

  }
}

@media (width <= 26.875rem){
  & .container{
    --max-width: 70rem;
    width: min(var(--max-width), 100% - 2.5rem * 2);
    margin-inline: auto;
  }
  & header{
    & nav{
      img[src*="logo-symbol"]{
        width: 4.0344rem;
        height: 3rem;
      }
    }
    & .tittle{
      margin-top: 3rem;
      
      & div{
        width: 20.9375rem;
        height: 6.1875rem;
      }

      & h1{
        font: var(--fw-bold) var(--fs-28) var(--ff-raleway);
      }

      & p{
        margin-top: 1rem;
        font: var(--fw-base) var(--fs-14) var(--ff-raleway);
      }
    }
  }

  & .week{
    max-width: 23.4375rem;
    max-height: 15.6875rem;
    margin-top: 2rem;
    margin-bottom: inherit;

    position: relative;
 
  & .content{
  width: 23.4375rem;
  height: 15.6875rem;

  display: flex;
  align-items: center;
  justify-content: center;

    & p{
      font: var(--fw-md) var(--fs-16) var(--ff-raleway);
      color: var(--text-body);
      line-height: 1.4;

      width: 20.9375rem;
    & strong{
      color: var(--text-body);
    }
  } 
};


    & img{
      width: 100%;
      position: absolute;

      &[src*="spellbook"]{
      width: 40px;
      height: 40px;

      right: 5rem;

      transform: rotate(15deg);
      transition: transform 400ms;

      &:hover{
        transform: none;
        scale: none;
      }
    }
      
      &[src*="ouija"]{
        width: 32px;
        height: 32px;

        top: 10rem;
        left: 1rem;

        transform: rotate(-30deg);
        transition: none;

        &:hover{
          transform: none;
          scale: none;
        }
      }
      
      &[src*="ball"]{
        width: 40px;
        height: 40px;
        bottom: 2.4rem;
        right: 1.5rem;

        transform: rotate(15deg);
        transition: scale 400ms;

        &:hover{
          transform: none;
          scale: none;
        }
      }
    }
  }
}