.container{
  --max-width: 70rem;
  width: min(var(--max-width), 100% - 10rem * 2);
  margin: auto;
}

& .title{
  max-width: 41rem;
  margin-top: 10.25rem;
  text-align: center;

  & h1{
    color: var(--text-title);
    font: var(--fw-bold) var(--fs-48) var(--ff-raleway);
  }

  & p{
    margin-top: 2rem;
    color: var(--text-body);
    font: var(--fw-base) var(--fs-20) var(--ff-raleway);
    text-align: center;
  }
}

.subscribe{
  padding-top: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & img[src*="logo"]{
    width: 14rem;
    height: 3rem;
  }
}

@media (width <= 34em){
 & .container{
    --maxwidth: 25.875em;
    width: min(var(--max-width), 100% - 1.25rem * 2);
  }

 & .subscribe{
    padding: 1.25rem;
    & img[src*="logo"]{
      width: 4rem;
      height: 3rem;
    }
  }

  & .title{
    max-width: 20rem;
    margin-top: 3rem;

    & h1{
      color: var(--text-title);
      font: var(--fw-bold) var(--fs-28) var(--ff-raleway);
    }
  
    & p{
      margin-top: 2rem;
      color: var(--text-body);
      font: var(--fw-base) var(--fs-14) var(--ff-raleway);
    }
  }
}