& section.pricing{
  width: 100%;
  max-width: 160rem;
  margin-inline: auto;
  
  & > div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  & > h2{
    font: var(--fw-bold) var(--fs-32) var(--ff-raleway);
    color: var(--text-tittle); 
    text-align: center;
    margin-top: 12rem;
    margin-bottom: 3.5rem; 
  }

  & .card:nth-child(2){

    & h3{
      color: var(--pink-light);
    }
    & .btn{
      width: 100%;
    }

    & .card-bottom{
      & li{
        background-image: url(../assets/icons/star-purple-card.svg);
        background-repeat: no-repeat;
      }
    }
  }
}