.desktop-only{
  display: initial;
}

.mobile-only{
  display: none;
}

.py-56{
  padding-top: 3.5rem;
}

.background-hero{
  background-image: url(../assets/images/hero-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  height: 59.25rem;
  max-width: 160rem;
  margin-inline: auto;
}

.flex{
  display: flex;
}

.center{
  align-items: center;
}

.grid{
  display: grid;
}

@media (width <= 26.875rem){
  .desktop-only{
    display: none;
  }

  .mobile-only{
    display: initial;
  }

  .background-hero{
    height: 34rem;
    max-width: 26.875rem;
  }
}